<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Success</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="../Images/logo.jpg" type="image/png" />
  </head>
  <body
    class="flex flex-col items-center justify-center min-h-screen bg-gray-100"
  >
    <h2 class="text-2xl font-bold">Token Generated Successfully!</h2>
    <a href="/" class="bg-blue-500 text-white px-6 py-2 rounded-lg mt-4"
      >Back to Home</a
    >
  </body>
</html>
